# Release client network settings: cloud services.
account_server=game.gloomthorn.com:55000
matchmaking_server=game.gloomthorn.com:55001
card_server=game.gloomthorn.com:55004
game_server_host=game.gloomthorn.com
payment_server_url=http://147.224.11.162:55005
