# Debug client network settings: local services.
account_server=127.0.0.1:55000
matchmaking_server=127.0.0.1:55001
card_server=127.0.0.1:55004
game_server_host=127.0.0.1
payment_server_url=http://127.0.0.1:55005
